---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import SmallButton from "@components/SmallButton.astro";
import BoardBackLarge from "@assets/icons/board-layer-black-large.svg";
import BoardFrontLarge from "@assets/icons/board-layer-white-large.svg";
import Logo from "@assets/icons/logo.svg";
import ScoreCard from "@components/ScoreCard.astro";
import TurnRed from "@assets/icons/turn-background-red.svg";
import TurnYellow from "@assets/icons/turn-background-yellow.svg";

// Statoc Paths
export const getStaticPaths = (() => {
  return [
    {
      params: { id: "cpu" },
      props: { mode: "cpu" },
    },
    {
      params: { id: "vs" },
      props: { mode: "vs" },
    },
  ];
}) satisfies GetStaticPaths;

// Page Props
interface Props {
  mode: "vs" | "cpu";
}

const { mode } = Astro.props;
---

<Layout title={`TaTeTi | ${mode.toUpperCase()}`}>
  <div class="h-full flex flex-col items-center justify-between">
    <header class="flex justify-between my-8 w-full max-w-[700px] items-center">
      <SmallButton>MENU</SmallButton>
      <Logo class="size-14" />
      <SmallButton>RESTART</SmallButton>
    </header>

    <div class="flex items-center gap-20 relative pb-36">
      <ScoreCard numPlayer={1} />
      <div class="relative">
        <BoardBackLarge />
        <BoardFrontLarge class="absolute top-0" />
      </div>
      <ScoreCard numPlayer={2} />

      <div class="absolute left-1/2 -translate-x-1/2 bottom-7">
        <div class="absolute top-1/2 left-1/2 -translate-1/2 text-center">
          <p class="font-medium">YOUR TURN</p>
          <h2 class="text-6xl font-bold"><span>12</span>s</h2>
        </div>

        <TurnRed />
      </div>

      <div
        class="bg-muted-background h-52 rounded-t-[5rem] absolute -z-10 bottom-0 left-1/2 -translate-x-1/2 w-full max-w-[1200px]"
      >
      </div>
    </div>
  </div>
</Layout>
