---
import Button from "@components/Button.astro";
import Layout from "@layouts/Layout.astro";
import ShadowCard from "@components/ShadowCard.astro";
import Logo from "@assets/icons/logo.svg";
import VsPlayer from "@assets/icons/player-vs-player.svg";
import VsCpu from "@assets/icons/player-vs-cpu.svg";
import Rules from "@components/Rules.astro";
---

<Layout>
  <div
    class="grid place-items-center h-full bg-background sm:bg-muted-background"
  >
    <ShadowCard
      shadowClass="bg-transparent sm:bg-black w-full max-w-[400px]"
      class="border-transparent sm:border-black flex gap-4 flex-col"
    >
      <Logo class="mb-12 mt-12 self-center" />
      <a href="/vs">
        <Button variant="secondary" icon={VsPlayer}> PLAY VS PLAYER </Button>
      </a>
      <a href="/cpu"><Button icon={VsCpu}>PLAY VS CPU</Button></a>
      <Button id="rules-open-btn" variant="white" class="justify-start">
        GAME RULES
      </Button>
    </ShadowCard>
  </div>

  <Rules />
</Layout>

<script>
  import { handleRules } from "@assets/js/rules";
  handleRules();
</script>
