---
import BoardBackLarge from "@assets/icons/board-layer-black-large.svg";
import BoardBackSmall from "@assets/icons/board-layer-black-large.svg";
import BoardFrontLarge from "@assets/icons/board-layer-white-large.svg";
import BoardFrontSmall from "@assets/icons/board-layer-white-small.svg";
---

<section class="fixed w-full h-full bottom-0 left-0">
  <div
    class="absolute bottom-0 w-full h-[20%] rounded-t-[5rem] bg-muted-background"
  >
  </div>

  <div class="absolute h-full w-full bottom-[14%] left-1/2 -translate-x-1/2">
    <BoardBackLarge
      class="h-[60%] absolute bottom-0 left-1/2 -translate-x-1/2"
    />
    <BoardFrontLarge
      class="h-[60%] absolute bottom-0 left-1/2 -translate-x-1/2"
    />
  </div>
</section>
